/* Styles généraux */
body {
    font-family: 'Roboto', Arial, sans-serif; /* Choix d'une police plus moderne */
    line-height: 1.6;
    background-color: #f0f0f0;
    margin: 0 250px; /* Marges de 50px à gauche et à droite */
    padding: 0;
    color: #110707; /* Couleur de texte principale */
}

header {
    background-color: #007bff; /* Couleur de fond de l'en-tête */
    color: rgb(20, 19, 19);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #fff; /* Bordure blanche autour de la photo */
}

.profile-photo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.contact-info {
    text-align: right;
    color: #080707; /* Couleur du texte */
    font-size: 14px; /* Taille de police légèrement réduite */
}

.main-content {
    padding: 20px;
}
h1 {
    text-emphasis-color: rgb(17, 15, 15);
}

.section:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.section h2 {
    font-size: 24px;
    color: #007bff; /* Couleur de titre accentuée */
    margin-bottom: 15px; /* Marge inférieure augmentée pour plus d'espace */
}
.section h2 {
    font-size: 24px;
    color: #007bff; /* Couleur de titre accentuée */
    margin-bottom: 15px; /* Marge inférieure augmentée pour plus d'espace */
}

.job h3 {
    margin-bottom: 5px;
    color: #333; /* Couleur de titre de poste */
}

.job p {
    margin-bottom: 10px;
    line-height: 1.4; /* Espacement des lignes amélioré */
}

.skills ul {
    list-style-type: none;
    padding-left: 0;
}

.skills ul li {
    margin-bottom: 8px; /* Espacement entre les compétences */
}

/* Media Query pour les petits écrans */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-photo {
        width: 120px;
        height: 120px;
        margin-bottom: 10px;
    }

    .contact-info {
        text-align: center;
        margin-top: 10px;
    }

    .section {
        margin-bottom: 30px;
    }

}
